<h1 class="header">{{title}}</h1><!-- {point 2}interpolation -->
<div class="login-form">
  
  <form [formGroup]="studentLogin" (ngSubmit)="saveData()"><!-- {point 3}save the data on the form submition -->
   
    <div class="form-group">
      <label for="email-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="emailId" name = "emailId"
        placeholder="Enter email" formControlName =  "emailId" [(ngModel)]="emailId" (change)="check($event)"
      />
      <!-- {point 1} [(ngModel)]="emailId" (change)="check($event)  ->will help to pass the value from the html to ts whenever there is a change 
      in the textbox -->
    </div>
    <div class="form-group">
      <label for="password-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-id" name = "password" ngModel
        placeholder="Password"  formControlName =  "password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
